/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* add padding to all main sections     */
section {
    padding: 30px;
}

/* set background image for hero section  */
#hero-section {
    background-image: url(./marty_floor_crop.jpg);
    background-size: cover;
    background-position: center;
}

a:hover {
    text-decoration: none;
}

/* control card width */
.card {
    max-width: 200px;
    margin: 10px;
}

/* create card shadow on hover  */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/* control card display using flexbox */
.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px 0px;
}

/* control icon size */
.icons {
    width: 50px;
    height: auto;
    padding: 5px;
}