/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

section {
    padding: 30px;
}

#hero-section {
    background-image: url(./marty_floor_crop.jpg);
    background-size: cover;
    background-position: center;
}

a:hover {
    text-decoration: none;
}

.card {
    background-color: rgb(75, 75, 75);
    max-width: 200px;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px 0px;
}